[dexcomshare]
dexcom_share_login: NyGreatUserName
dexcom_share_password: SuperSecretPassword

[datadog]
dd_api_key: datadogAPIrocks12345678901234567890
dd_app_key: datadogAPProcks09876543210987654321
stat_name: mycurrentdexcomstatus.bg

#[healthcheck]
#url: https://hchk.io/asdgsdfgsfdgsdf-sfdgsdfgsdfg-sdfgsfd
